@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* App.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.highlight {
  color:#bf12e6
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Hauteur minimum = 100% de la fenêtre */
}


.home-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap; /* Important for responsiveness */
  
}

.home-text {
  flex: 1;
  min-width: 300px;
  color:white;
  align-items:center;
  justify-content: center;
  padding-top: 20%;
  height:310px;
  background-color:#1a44efff;
}

.home-gif {
  flex: 1;
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
  height: 100vh;   
  width:40%;
}

.p-home {
  margin-top: 5px;
  line-height: 0.3;
  font-size: 18px;
  color:wheat; 
  font-size:30px; 
  font-weight:bold;
  padding-left:10%
}

.p-desc{
  padding-left:10%;
  font-size: 15px;

}

.btn{
  height: 40px;
  margin-left:10%;
  width:150px
}

.p-home2 {
  margin-top: 15px;
  line-height: 1.6;
  font-size: 18px;
  color: #333;
  font-size: 20px;
  text-align: justify;
  width: 80%;
}

.highlight {
  color: #00bfff;
  font-weight: bold;
}

.title{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}


.scroll-container {
  width: 70%;
  overflow: hidden;
  background-color: #222;
  padding: 10px 0;
}

.scroll-text {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: scroll-left 15s linear infinite;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


/* Modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.modal-close {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 4px;
}

