.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: #fff;
  padding: 20px 200px;
  font-size: 18px;
  flex-wrap: wrap;
  text-align: center;
  
}

/* Responsive layout for small screens */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }
}
